#uiparent {
    position: fixed;
    z-index: 1;
    user-select: 'none';
    color: white;
    *:focus {
        outline: none;
    }

    button {
        font-size: 20px;
        background-color: rgb(102, 6, 8);
        color: #ffffff;
        border-radius: 5px;
        cursor: pointer;
    }

    .context-menu {
        $bg-col: #3b3b3b;

        border: 1px solid black;
        border-radius: 5px;

        .context-menu-option {
            color: 'white';
            background-color: $bg-col;
            border: none;
            border-radius: 0px;
            border-bottom: 1px solid black;

            &:hover {
                background-color: lighten($bg-col, 10%);
            }
        }
    }
}