.hpbar {
  appearance: none;
  -webkit-appearance: none;
}
.hpbar::-webkit-progress-bar {
  background-color: red;
  border-radius: 2px;
}
.hpbar::-webkit-progress-value {
  background-color: #00e01e;
}